/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, 'Lato', "sans-serif";
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 2.5rem;
  color: black;
}
img {
  width: 100%;
  height: auto;
}
p {
  line-height: 1.25;
  font-size: 1.8rem;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 0% 2%;
}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 2% 0;
}
@media (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 50%;
  font-size: 1.6rem;
}
.header a {
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  .header a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
  }
}
.header a:hover {
  color: grey;
}
.intro-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  background: rgba(122, 106, 94, 0.3);
}
.intro-section .intro-img {
  width: 80%;
  height: auto;
}
@media (max-width: 500px) {
  .intro-section .intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.intro-section .intro-header {
  border-bottom: 1px solid #412e20;
  width: 100%;
}
.intro-section .intro-header h1 {
  font-size: 3.5rem;
  margin-top: 13px;
  letter-spacing: 0.5rem;
  margin-bottom: 2%;
}
.intro-section .intro-header h3 {
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .intro-section .intro-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.intro-section .intro-info {
  margin-top: 17px;
  padding-bottom: 20px;
}
.intro-section .intro-info .main-btn {
  background: #333232;
  padding: 2% 3%;
  color: beige;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-top: 2%;
  outline: none;
}
@media (max-width: 500px) {
  .intro-section .intro-info .main-btn {
    width: 100%;
  }
}
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 3% 0;
}
@media (max-width: 500px) {
  .main-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.main-section .main-info {
  width: 55%;
}
@media (max-width: 500px) {
  .main-section .main-info {
    width: 90%;
  }
}
.main-section .main-info p {
  font-size: 1.6rem;
  line-height: 1.7;
  margin-top: 2%;
}
.main-section .skills-list {
  width: 35%;
}
@media (max-width: 500px) {
  .main-section .skills-list {
    width: 90%;
  }
}
.main-section .skills-list ul {
  margin-top: 3%;
}
.main-section .skills-list ul li {
  font-size: 1.45rem;
  padding: 12px 0px 10px 10px;
  border: 1px solid grey;
}
table {
  width: 100%;
  margin: 2% 0;
}
table thead {
  border: 1px solid grey;
  line-height: 3.5rem;
}
table thead tr {
  font-weight: bold;
}
table tbody tr {
  text-align: center;
  line-height: 3.25rem;
}
table tbody tr td.line-color {
  background: lightgray;
}
.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(122, 106, 94, 0.3);
  width: 100%;
  height: 80px;
  margin-top: 5%;
}
.main-footer .footer-copyright {
  font-size: 1.45rem;
}
